{% extends 'pages/base.html' %}
{% block content %}
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper"
                     style="padding-top: 20px; padding-bottom: 100px;">
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title text-center">Register</h4>
                            <form method="POST" action="{% url 'register' %}" class="my-login-validation" novalidate="">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="form-group m-0">
                                    <input type="submit" value="Register" class="btn btn-primary btn-block">
                                    </input>
                                </div>
                                <div class="mt-4 text-center">
                                    Already have an account? <a href="{% url 'login' %}">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}